<html>
	<head>
		<meta charset="UTF-8">
		<title>优质期刊</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/goodmagazine.css}" />
		<script type="text/javascript" th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div class="slogon">
			<ul>
				<li style="list-style-type: none"><h2 style="font-family:宋体"><a href="/JournalSystem/index.do" style="text-decoration:none">首页</a></h2></li>		
			</ul>
		</div>
		<div>
			<hr class="line"/>
		</div>
		<div class="content">
			<h2>读者（甘肃人民出版社主办综合类文摘杂志） <button type="button" onClick="brrow()" style="margin-left:2em" class="btn btn-danger">借阅</button></h2>
			<hr>
			<p>《读者》，原名《读者文摘》，是由读者出版传媒股份有限公司主办的中文版半月刊物。</p>
			<p>《读者》杂志发掘人性中的真、善、美，体现人文关怀。《读者》在刊物内容及形式方面与时俱进，追求高品位、高质量，力求精品，并以其形式和内容的丰富性及多样性，赢得了各个年龄段和不同阶层读者的喜爱与拥护。发行量稳居中国期刊排名第一，亚洲期刊排名第一，世界综合性期刊排名第四。被誉为“中国人的心灵读本”、“中国期刊第一品牌”。</p>
			<p>中文名称：读者<br> 
			外文名称：Readers <br>
			语    言：中文 <br>
			类    别：文化综合 <br>
			主管单位：读者出版传媒股份有限公司 <br>
			主办单位：读者出版传媒股份有限公司 <br>
			编辑单位：读者杂志社 <br>
			创刊时间：1981年1月 <br>
			出版周期：半月刊 <br>
			国内刊号：CN 62-1118/Z <br>
			国际刊号：ISSN 1005-1805<br>
			邮发代号：54-17（普通版），54-193(校园版），54-18（海外版） <br>
			定    价：9.00元 <br>
			地    址：甘肃省兰州市读者大道568号 <br>
			出版人：吉西平 <br>
			出版日期：每月1日、15日</p>
			<div class="image">
				<img src="img/library/读者.jpg" width=166px height=213px>
			</div>
			
		</div>
		<script type="text/javascript">
			funciton brrow(){
				
			}
		</script>
	</body>
</html>