<html>
	<head>
		<meta charset="UTF-8">
		<title>优质期刊</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/goodmagazine.css}" />
	</head>
	<body>
		<div class="slogon">
			<ul>
				<li style="list-style-type: none"><h2 style="font-family:宋体"><a href="/JournalSystem/index.do" style="text-decoration:none">首页</a></h2></li>		
			</ul>
		</div>
		<div>
			<hr class="line"/>
		</div>
		<div class="content">
			<h2>计算机学报</h2>
			<hr>
			<p>《计算机学报》创刊于1978年，刊期为月刊，每期200面，是由中国科学院主管，中国计算机学会与中国科学院计算技术研究所主办、科学出版社出版的期刊。</p>
			<p>据2018年4月，计算机学报》杂志编辑部官网显示，编辑委员会有主编1名，副主编5名，编委78名。</p>
			<p>据2018年4月中国知网显示，《计算机学报》总被下载2463356次、总被引161163次，（2017版）复合影响因子为4.317、（2017版）综合影响因子为2.580。</p>
			<p>据2018年4月万方数据知识服务平台显示，《计算机学报》被下载537122次、被引130491次，2015年影响因子为3.18，在全部统计源期刊（6735种）中排第36名，自动化技术与计算机技术（94种）中排第1名。</p>
			<p>中文名： 计算机学报 <br>
			外文名称：Chinese Journal of Computers <br>
			语    言：中文 <br>
			类    别：计算机科学 <br>
			主管单位：中国科学院 <br>
			主办单位：中国计算机学会、中国科学院计算技术研究所 <br>
			编辑单位：科学出版社 <br>
			创刊时间：1978年 <br>
			出版周期：月刊 <br>
			国内刊号：11-1826/TP <br>
			国际刊号：0254-4164 <br>
			邮发代号：2-833 <br>
			现任主编：孙凝晖 <br>
			属    性：核心期刊、SA、JST、EI、CSCD <br>
			编辑部地址：北京市海淀区中关村南路6号</p>
			<div class="image">
				<img src="img/library/计算机学报.jpg" width=146px height=213px>
			</div>
		</div>
	</body>
</html>