<html>
	<head>
		<meta charset="UTF-8">
		<title>优质期刊</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/goodmagazine.css}" />
	</head>
	<body>
		<div class="slogon">
			<ul>
				<li style="list-style-type: none"><h2 style="font-family:宋体"><a href="/JournalSystem/index.do" style="text-decoration:none">首页</a></h2></li>		
			</ul>
		</div>
		<div>
			<hr class="line"/>
		</div>
		<div class="content">
			<h2>统计研究</h2>
			<hr>
			<p>《统计研究》为月刊，是由中华人民共和国国家统计局主管、中国统计学会和中华人民共和国国家统计局统计科学研究所主办、中华人民共和国新闻出版总署正式批准中国国内外公开发行的学术性期刊。</p>
			<p>《统计研究》于1984年创刊，2004年获国家期刊奖百种重点期刊，2012-2015年被评为中国最具国际影响力学术期刊。</p>
			<p>据2016年10月中国知网显示，《统计研究》共出版文献量5742篇、总下载量2086794次、总被引量79715次、复合影响因子2.547、综合影响因子1.511；主要栏目有统计基本理论问题，统计理论方法与应用，经济分析与统计分析，经济核算问题研究等。</p>
			<p>中文名称：统计研究 <br>
			外文名称：Statistical Research <br>
			语    言：中文 <br>
			类    别：统计 <br>
			主管单位：中华人民共和国国家统计局 <br>
			主办单位：中国统计学会 中华人民共和国国家统计局统计科学研究所 <br>
			编辑单位：《统计研究》编辑部 <br>
			创刊时间：1984年 <br>
			出版周期：月刊 <br>
			国内刊号：11-1302/C <br>
			国际刊号：1002-4565</p>
			<div class="image1">
				<img src="img/library/统计研究.jpg" width=157px height=211px>
			</div>
		</div>
	</body>
</html>