<html>
	<head>
		<meta charset="UTF-8">
		<title>优质期刊</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/goodmagazine.css}" />
	</head>
	<body>
		<div class="slogon">
			<ul>
				<li style="list-style-type: none"><h2 style="font-family:宋体"><a href="/JournalSystem/index.do" style="text-decoration:none">首页</a></h2></li>		
			</ul>
		</div>
		<div>
			<hr class="line"/>
		</div>
		<div class="content">
			<h2>意林 （中国文摘期刊）</h2>
			<hr>
			<p>《意林》，原名《春风》，是由中共长春市委宣传部主管，长春市文学艺术界联合会主办的中文版半月刊杂志。</p>
			<p>2003年4月，《春风·意林》开始筹备，8月正式创刊；2004年6月，经新闻出版署批准，从第7期正式改名为《意林》；2005年5月由月刊改为半月刊。</p>
			<p>据2018年6月1日中国知网显示，《意林》共出版文献25821篇、总被下载299835次、总被引188次。 [1]  截至2013年12月，《意林》杂志的月发行量最高达200万份。</p>
			<p>中文名称：意林 <br>
			语    言：中文 <br>
			类    别：中国文学 <br>
			主管单位：中共长春市委宣传部 <br>
			主办单位：长春市文学艺术界联合会 <br>
			编辑单位：《意林》杂志社 <br>
			创刊时间：2003年8月 <br>
			出版周期：半月刊 <br>
			国内刊号：22-1361/I <br>
			国际刊号：1007-3841 <br>
			邮发代号：16-287 <br>
			属    性：文摘类刊物 <br>
			现任主编：蔡燕（执行） <br>
			杂志社地址：北京市朝阳区南磨房路37号</p>
			<div class="image">
				<img src="img/library/意林.jpg" width=153px height=216px>
			</div>
		</div>
	</body>
</html>