<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.f5.mapper.BorrowMapper">
     <insert id="insertBorrowItem" parameterType="borrowItem">
     	insert into borrow_back(userid,username,journalname,pubyear,pubvolume,pubphase,regid,state)
     	 values(#{userid},#{username},#{journalname},#{pubyear},#{pubvolume},#{pubphase},#{regid},#{state})
     </insert>
     <select id="borrowDocByUserid" parameterType="string" resultType="borrowItem">
     	select * from borrow_back where userid = #{userid};
     </select>
     <update id="updateState" parameterType="int">
     	update borrow_back set state = #{state} where id = #{id}
     </update>
     <select id="searchBorrow" resultType="borrowItem">
     	select * from borrow_back
     </select>
</mapper>